[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rdrop2"]
	path = rdrop2
	url = https://github.com/karthik/rdrop2
[submodule "wesanderson"]
	path = wesanderson
	url = https://github.com/karthik/wesanderson
